.comments {
  padding: 32px;
  background: #EFEFEF;
  margin-bottom: 32px;
}

.comments h3 {
  margin-top: 0;
}

.comment-list {
  list-style-type: none;
  margin-top: 32px;
}
.comment-list ul {
  padding: 0;
  margin-top: 16px;
}
.comment-list li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDD;
  padding: 32px 0;
}
.comment-list li:first-child {
  padding-top: 0;
}
.comment-list li:last-child {
  border-bottom: none;
}

.comment-ranking {
  text-align: center;
  color: #777;
  margin-right: 32px;
}

.comment-ranking-value {
  padding-top: 6px;
}

.ranking-button {
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  outline: none;
  color: #777;
}
.ranking-button:hover {
  color: #333;
}

.comment-meta {
  font-size: 12px;
  color: #777;
  margin-bottom: 16px;
}