body {
  background: #F9F9F9;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

header {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #DDD;
  padding: 24px 32px;
  color: white;
  margin-bottom: 40px;
}

h1 {
  font-size: 1.4em;
  flex-basis: 50%;
}
h1 a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}
h1 a:hover {
  color: #555;
}

.add-post-link {
  flex-basis: 50%;
  text-align: right;
}

.add-post-link a:hover {
  background: #68A3E9;
}

a {
  color: #4990E2;
}

.btn {
  text-decoration: none;
  background: #4990E2;
  color: white;
  padding: 8px 24px 9px 24px;
  margin-top: 8px;
  display: inline-block;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-link {
  color: #4990E2;
  text-decoration: underline;
  border: none;
  padding: 0;
  margin-right: 16px;
  display: inline-block;
  cursor: pointer;
  background: transparent;
}
.btn-link.red {
  color: #D0011B;
}

.push-right {
  margin-right: 16px;
}

.align-right {
  text-align: right;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.content {
  display: flex;
}

.categories {
  flex-basis: 15%;
}

.posts {
  flex-basis: 85%;
}