.post-list {
  list-style-type: none;
}
.post-list li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDD;
  padding: 32px 0;
}
.post-list li:first-child {
  padding-top: 0;
}
.post-list .post-meta {
  margin-bottom: 16px;
}

.post-ranking {
  text-align: center;
  color: #777;
  margin-right: 32px;
}

.post-ranking-value {
  padding-top: 6px;
}

.ranking-button {
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  outline: none;
  color: #777;
}
.ranking-button:hover {
  color: #333;
}

.post h4 {
  margin: 0;
}
.post h4 a {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}
.post h4 a:hover {
  text-decoration: underline;
}
.post h3 {
  font-size: 32px;
  margin: 16px 0;
}
.post h3 a {
  color: #333;
  text-decoration: none;
}
.post h3 a:hover {
  text-decoration: underline;
}

.post-single,
.add-post {
  max-width: 800px;
  margin: 0 auto;
}
.post-single h1 {
  font-size: 36px;
  margin-bottom: 24px;
}
.post-single .post-meta {
  margin-bottom: 48px;
  color: #777;
}

.post-body {
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 1.6;
}

.post-controls {
  margin-bottom: 48px;
}